<div class="header-noticia">
	<div class="text-center">
		<h1>Titulo: {{noticia.title | uppercase}}</h1>
	</div>
	<div>
		<div class="autor-fecha-noticia">
			<div class="autor-datos-noticia">
				<img class="autor-img" src="https://pbs.twimg.com/profile_images/550728010043629568/Z1hoIo_V.jpeg" alt="Julio Grados" alt="">
				<span class="autor-name">Autor: {{noticia.author.name}}</span>
				<span class="noticia-fecha">Fecha: {{noticia.created | date:'MM/dd/yyyy - h:mma'}}</span>
			</div>
		</div>
	</div>
</div>
<div class="header-noticia">
	
	<div class="text-center">
		<img src='{{noticia.image}}' alt="">
	</div>
	<div class="noticia-descripcion">
		<span>
			Descripción: {{noticia.description}}
		</span>
	</div>
</div>
