<div class="row">
	<ul class="tab-ul text-center">
		<li id="news" ng-click="notCtrl.selectTab(1)" ng-class="{ activate: notCtrl.tab===1}" class="tab-li">News</li>
		<li id="sports" ng-class="{ activate: notCtrl.tab===2}" ng-click="notCtrl.selectTab(2)" class="tab-li">Sports</li>
		<li id="actualidad" ng-click="notCtrl.selectTab(3)" ng-class="{ activate: notCtrl.tab===3}" class="tab-li">Actualidad</li>
		<li id="mundo" ng-click="notCtrl.selectTab(4)" ng-class="{ activate: notCtrl.tab===4}" class="tab-li">Mundo</li>
	</ul>	
</div>