{% load static from staticfiles %}

<!DOCTYPE html>   
	<html lang="es" ng-app="noticiero">
	<head>
		<meta charset="UTF-8">
		<title>Curso Angular</title>
		<link rel="stylesheet" href='{% static "css/main.css" %}'>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
		<script src='{% static "js/vendor/angular-route.min.js" %}'></script>
	</head>
	<!-- Angular -->
	<body>
		<section class="menu">
			<div class="container menu-container">
				<div class="menu-logo">
					<span>DevToday</span>
				</div>
			</div>
		</section>
		{% verbatim %} 
		<section ng-view>

		</section>
		{% endverbatim %}
		<script src='{% static "js/app.js" %}'></script>
		<script src='{% static "js/controllers.js" %}'></script>
		<script src='{% static "js/directives.js" %}'></script>
	</body>
	<!-- End-Angular -->
</html>
